<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>RealG4Life chat pro</title>
  </head>

  <body>
    <ul id="comments">
      {% for comment in comments %}
        <li>{{comment.user}}: {{comment.text}}</li>
      {% endfor %}
    </ul>
    <input type="text" id="comment" name="comment"
            placeholder="Write something..." />
    </br>
    <a href="/logout/">logout</a>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src={{socket_server}}> </script>
    <script src="static/js/app.js"> </script>

  </body>
</html>
